body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	min-width: 800px;
	font-size: 18px;
	background-color: #f4f4f4;
}

input[type=email], input[type=password], input[type=text], select,
	.departure-city, .arrival-city {
	display: block;
	width: 350px;
	font-size: 14px;
	font-weight: 400;
	height: 28px;
	padding: 6px;
	margin: 29px 0;
	line-height: 20px;
	color: #2E2E2E;
	background-color: #fff;
	border: 1px solid #D2D6D9;
	border-radius: 5px;
}

.register input[type=text], .register  input[type=email], .register  input[type=password]
	{
	margin: -6px 0 0 0;
}

.departure-city, .arrival-city {
	width: 208px;
	font-size: 16px;
	line-height: 27px;
	font-weight: 700;
	padding: 6px 6px 6px 9px;
}

.departure-city {
	position: absolute;
	left: 30px;
	margin-top: 5px;
}

.arrival-city {
	position: absolute;
	left: 287px;
	margin-top: 5px;
}

#arrival-city-label {
	position: absolute;
	left: 288px;
}

.register select {
	height: 43px;
	width: 365px;
	margin: -6px 0 0 0;
}

.core-btn-primary, .menu-item, .editor input[type="button"] {
	color: #073590;
	background-color: #f1c933;
	display: inline-block;
	margin: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px #F1C933 solid;
	box-sizing: border-box;
	padding: 9px 16px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 5px;
	user-select: none;
	min-width: 98px;
	word-break: normal;
	word-wrap: normal;
	white-space: normal;
	transition: color .2s
}

.form-btn {
	margin: -21px 12px 0 0;
}

#customer-register {
	margin: 39px 3px 0 0;
}

label {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

.register  label {
	line-height: 40px;
	color: #999;
}

a {
	font-size: 14px;
	line-height: 27px;
	color: #53aaef;
	text-decoration: none;
}

a:hover {
	font-size: 14px;
	line-height: 27px;
	color: #53aaef;
	text-decoration: underline;
}

.header {
	position: absolute;
	width: 100%;
	height: 66px;
	background: #073590;
	border-bottom: 2px #f0c833 solid;
}

.customer-icon {
	cursor: pointer;
	position: absolute;
	right: 298px;
	top: 14px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 84px;
	border-top: 1px #d2d6d9 solid;
	line-height: 84px;
	background-color: #fff;
	font-size: 12px;
	color: #9d9d9a;
}

.footer>a {
	font-size: 11px;
}

.copyright {
	padding: 0 30px;
	position: absolute;
}

.contact-us {
	padding: 0 30px;
	float: right;
	right: 0;
}

.alert-danger {
	box-sizing: border-box;
	width: 363px;
	color: #CF2E1D;
	background-color: #fff9f9;
	padding: 15px;
	margin: 20px 0;
	border-radius: 4px;
	border: 1px solid #CF2E1D;
	font-size: 14px;
}

.alert-danger-close-button {
	cursor: pointer;
	float: right;
	margin-top: 2px;
}

.logo-nyair {
	cursor: pointer;
	position: absolute;
	display: inline-block;
	width: 300px;
	height: 66px;
}

.my-nyair {
	cursor: pointer;
	position: absolute;
	right: 220px;
	height: 66px;
	display: inline-block;
	color: #e2c039;
	font-size: 16px;
	line-height: 66px;
}

.mynyair-menu-dropdown {
	line-height: 36px;
}

.mynyair-menu-dropdown .mynyair-menu-option {
	border-bottom: 1px #e9e9e9 solid;
}

#mynyair-menu-logout {
	border-bottom: 0 solid;
}

.mynyair-img {
	margin: 0 10px -2px 10px;
}

.flag-cont, .arrow-flag, .arrow-mynyair {
	cursor: pointer;
}

.arrow-mynyair {
	top: 26px;
	right: 203px;
	height: 66px;
	position: absolute;
}

.menu-dropdown, .language-menu-dropdown, .mynyair-menu-dropdown {
	z-index: 9999;
	position: absolute;
	width: 100%;
	min-width: 600px;
	top: 68px;
	height: 338px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 1, 0, 0.3);
}

.singup-menu-arrow, .language-menu-arrow, .mynyair-menu-arrow {
	position: absolute;
	top: -13px;
	right: 243px;
}

.language-menu-arrow {
	right: 112px;
}

.mynyair-menu-arrow {
	right: 70px;
}

.language-menu-dropdown {
	height: 70px;
	min-width: 200px;
	width: 240px;
	right: 0;
}

.mynyair-menu-dropdown {
	height: 110px;
	min-width: 150px;
	width: 150px;
	right: 172px;
}

.flag-img {
	box-shadow: 0 0 1px rgba(0, 1, 0, 0.3);
	margin: 10px 0 0 10px;
	border-radius: 2px;
}

.col-featuers-cont {
	display: inline-block;
	width: calc(48% - 20px);
}

.col-got-account, .col-featuers {
	vertical-align: top;
	margin: 10px 0;
	display: inline-block;
	width: calc(48% - 20px);
	padding: 15px;
	height: 287px;
}

.col-got-account {
	width: calc(100% - 30px);
	max-width: 380px;
}

.col-featuers {
	float: right;
	width: 90%;
	overflow: hidden;
	max-width: 350px;
	border-right: 1px solid #d5dce4;
}

.flag {
	top: 25px;
	right: 110px;
	height: 66px;
	position: absolute;
}

.arrow-flag {
	top: 26px;
	right: 93px;
	height: 66px;
	position: absolute;
}

.form-btn>.core-btn-primary {
	float: right;
	margin: 21px 4px 0 0;
}

.buy-cancel-ticket .core-btn-primary {
	position: absolute;
	z-index: 99999;
	margin: 17px 0 0 10px;
}

#buy-ticket-cancel {
	margin: 17px 0 0 127px;
}

h3, .nav-bar-h3 {
	font-size: 22px;
	padding: 10px 0;
	font-weight: bold;
	line-height: 30px;
}

li {
	margin-left: 20px;
	list-style-type: disc;
	font-size: 16px;
	line-height: 27px;
}

.language-select, .mynyair-menu-option {
	cursor: pointer;
	font-size: 14px;
	color: #667;
}

.language-select:hover, .mynyair-menu-option:hover {
	color: #000;
}

.register-form {
	line-height: 10px;
}

.button-close {
	cursor: pointer;
	position: absolute;
	top: 12px;
	text-indent: -9999px;
	margin-left: 489px;
	border-radius: 18px;
	position: absolute;
}

.page-container {
	width: 100%;
}

.poster-container {
	height: 230px;
	width: 100%;
}

.login-register-buy {
	width: 300px;
}

.schedule, .schedule-name, .schedule-date {
	display: inline-block;
	font-size: 14px;
	width: 120px;
}

.schedule-caorusel, .schedule-concrete {
	white-space: nowrap;
	height: 74px;
	width: 700px;
	background-color: #fff;
	border: 1px solid #d6dce1;
	border-radius: 4px;
	margin: 0 auto 10px;
}

.schedule-caorusel {
	position: relative;
	top: 182px;
}

.schedule-concrete {
	position: relative;
	top: 204px;
}

.button-left {
	z-index: 99;
	position: relative;
	cursor: pointer;
	width: 32px;
	line-height: 103px;
	height: 74px;
	float: left;
	vertical-align: middle;
}

.button-right {
	z-index: 99;
	cursor: pointer;
	position: relative;
	top: -67px;
	width: 32px;
	line-height: 103px;
	height: 74px;
	float: right;
	vertical-align: middle;
}

.schedule-date {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 6px 0 -2px 0;
	border-right: 1px #d6dce1 solid;
}

.schedule-day-of-week {
	text-transform: capitalize;
}

#schedules {
	width: 100%;
}

.schedule-date span {
	cursor: pointer;
	color: #2091eb;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

.schedule-date .schedule-day-of-week {
	color: #9696a3;
	text-transform: capitalize;
}

.schedule-date .schedule-cost {
	font-size: 20px;
	line-height: 25px;
	color: #000;
	margin: 4px 0 -2px 0;
}

.schedule-concrete {
	height: 190px;
	line-height: 22px;
}

.schedule-concrete .route-name, .schedule-concrete .flight-time {
	font-size: 14px;
	color: #9696a3;
}

.schedule-concrete .route-depart-city, .schedule-concrete .route-arrival-city
	{
	font-size: 12px;
	color: #000;
}

.schedule-concrete .depart-time, .schedule-concrete .arrival-time {
	font-size: 18px;
	line-height: 28px;
	color: #000;
	font-weight: bold;
}

.schedule-concrete .standart-ticket-cost, .schedule-concrete .business-ticket-cost
	{
	font-size: 22px;
	color: #000;
	font-weight: bold;
}

.schedule-concrete .plan-type {
	background-color: #d4eafb;
	color: #2091eb;
	font-weight: 700;
	font-size: 12px;
	padding: 2px;
	border: 1px solid #b6d6ee;
	border-radius: 0 0 3px 3px;
	text-align: center;
	margin: -1px;
}

.schedule-concrete .flight-img {
	
}

.schedule-concrete .ticket-cost {
	padding: 6px;
	font-size: 21px;
	color: #2E2E2E;
	line-height: 37px;
	font-weight: 700;
	background: #f5f6f7;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

.ticket-cost {
	width: 114px;
}

.schedule-concrete span {
	display: block;
}

.schedule-concrete div {
	display: inline-block;
	margin: 14px 18px 0 0;
}

.schedule-concrete .depart-cont {
	margin: 14px 18px 0 18px;
}

.ticket-type {
	cursor: pointer;
	width: 126px;
	height: 66px;
	border: 1px solid #d6dce1;
	border-radius: 4px;
	margin: 0 auto;
}

.route-date {
	width: 150px;
	font-size: 12px;
}

.countries, .cities, .arrival-cities {
	position: absolute;
	width: 214px;
	top: 110px;
	background-color: #fff;
	padding: 5px;
	opacity: 0.94;
	border-radius: 4px;
	margin-left: 30px;
	border: 1px #ccc solid;
}

.countries {
	width: 375px;
}

.cities {
	margin-left: 292px;
}

.countries>p, .cities>p {
	line-height: 30px;
}

.active {
	background-color: #3399ff;
}

.country-name, .city-name {
	width: 200px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	padding: 4px;
}

.flight-schedule-selector {
	position: absolute;
	top: 300px;
	white-space: nowrap;
	height: 160px;
	width: 680px;
	background-color: #3399ff;
	margin: 0 0 0 calc(50% - 340px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.city-selector {
	position: relative;
	top: 40px;
	height: 40px;
}

.flight-schedule-selector input[type=text] {
	border-radius: 4px;
	margin: 0 0 0 30px;
	height: 40px;
	font-size: 18px;
	padding: 0 12px 0 12px;
	width: 200px;
}

.flight-schedule-selector label {
	color: #fff;
}

.city-selector {
	display: inline-block;
	margin: 20px 0 0 0;
}

.city-selector label {
	position: absolute;
	top: -23px;
	left: 30px;
}

#continue-schedule {
	position: relative;
	left: 547px;
	margin: 2px 0 0 0;
}

.radio-return {
	position: relative;
	top: 20px;
	left: 26px;
}

.settings-tab, .mynyair-tab {
	z-index: 999;
	background-color: #fff;
	overflow: scroll;
	position: absolute;
	top: 70px;
	min-height: calc(100% - 70px);
	width: 100%;
}

.message-box-true, .message-box-false {
	z-index: 99999;
	position: fixed;
	width: 320px;
	height: 220px;
	color: #000;
	font-size: 18px;
	border-radius: 7px;
	background-color: #fff;
	border: 1px #e2e2e2 solid;
	box-shadow: 0 0 130px rgba(0, 0, 0, 0.1);
	margin-left: calc(50% - 160px);
	top: calc(50% - 110px);
}

.message-box-true span, .message-box-false span {
	position: relative;
	left: 25px;
	top: 55px;
}

.message-box-false {
	border: 1px red solid;
}

.close-button-msgbox {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 15px;
}

.mynyair-tab {
	top: 68px;
}

.settings-tab h3, .mynyair-tab h3 {
	line-height: 30px;
	margin: 0 0 0 15px;
}

.close-button-tab {
	cursor: pointer;
	position: fixed;
	top: 78px;
	right: 30px;
}

.tab-menu {
	position: absolute;
	left: 0;
	top: 32px;
	height: calc(100% - 100px);
	width: 260px;
	border-right: 2px #eaefed solid;
}

.tab-menu #mynyair-menu-mynyair {
	margin: 10px 0 0 0;
}

.settings-tab .register {
	position: relative;
	left: 300px;
}

.settings-tab .form-btn {
	position: absolute;
	margin: -7px 0 0 0;
	left: 267px;
}

.settings-tab .form-field {
	width: 380px;
}

.settings-tab .register {
	width: 380px;
}

.tab-menu .mynyair-menu-option {
	position: relative;
	font-size: 16px;
	color: #073590;
	height: 40px;
	left: 4px;
}

.tab-menu {
	margin: 20px 0 0 0;
}

#tab-customer-update {
	margin: 30px 0 0 0;
}

.setting-tab-cont {
	max-width: 800px;
}

.cart-tab {
	display: inline-block;
	position: absolute;
	opacity: 0.96;
	top: 68px;
	height: 81px;
	width: 100%;
	background: linear-gradient(to top, #1e76e2, #2091eb);
}

.cart-cont {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 240px;
	height: 48px;
	background-color: #FFF;
	border-radius: 6px;
}

.route-info {
	position: absolute;
	top: 20px;
	left: 15px;
	color: #fff;
	font-size: 22px;
}

.cart-cont .core-btn-primary {
	position: absolute;
	right: 5px;
	top: 4px;
}

.cart-cont span {
	display: block;
}

.total-cost {
	position: absolute;
	top: 6px;
	left: 40px;
	text-align: center;
}

.total-cost-msg {
	font-size: 12px;
	color: #999;
}

.cart-cont .cart-cost {
	font-size: 20px;
	font-weight: 700;
}

.buy-ticket-chk {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #fafaf6;
	border-radius: 2px;
	border: 1px #efefef solid;
	text-align: center;
	margin: 10px;
	vertical-align: top;
}

#buy-ticket-form {
	width: 450px;
}

.buy-ticket-chk img {
	position: relative;
	top: 30px;
}

.buy-ticket-chk label {
	position: relative;
	font-size: 18px;
	top: 14px;
}

.buy-ticket-chk div span {
	position: absolute;
	display: block;
	font-size: 24px;
	font-weight: bold;
	left: 78px;
	margin: 150px 0 0 0;
}

.buy-ticket-chk input[type=checkbox] {
	display: none;
}

.buy-ticket {
	position: absolute;
	left: 300px;
	font-size: 14px;
	width: 400px;
}

.ticket-list {
	position: absolute;
}

.ticket-line {
	cursor: pointer;
	display: block;
	font-weight: bold;
	width: 100%;
	height: 40px;
	background-color: #fff;
	border: 1px #e3e3e3 solid;
	border-radius: 4px;
	line-height: 40px;
	margin: 0 0 12px 0;
}

.ticket-line div {
	padding: 0 8px 0 0;
	margin: 0 auto;
}

.ticket-line>div {
	display: inline-block;
}

.qrcode {
	position: absolute;
	left: 272px;
	margin: 15px 0 0 0;
}

.e-ticket-msg {
	position: absolute;
	left: 272px;
	margin: -158px 0 0 0;
	font-weight: 700;
}

.schedule-caorusel {
	z-index: 1;
	overflow: hidden;
}

#schedules {
	z-index: 2;
	position: relative;
}

.buy-ticket-chk div span {
	position: relative;
	display: block;
	font-size: 22px;
	font-weight: bold;
	left: 55px;
	bottom: 10px;
}

.option-cont {
	height: 226px;
}

.buy-ticket-chk img {
	position: relative;
	top: -145px;
}

.buy-ticket {
	position: absolute;
	left: 300px;
	font-size: 14px;
	width: 400px;
}

.ticket-list {
	position: absolute;
	width: 400px;
	left: 300px;
	top: 10px;
}

.ticket-line {
	cursor: pointer;
	display: block;
	width: 400px;
}

.ticket-line>div {
	display: inline-block;
	font-size: 12px;
	margin: 0 5px 0 5px;
}

.qrcode {
	position: absolute;
	top: -240px;
}

.e-ticket-msg {
	position: absolute;
	top: 160px;
}

.schedule-caorusel {
	z-index: 1;
	overflow: hidden;
}

#schedules {
	z-index: 2;
	position: relative;
}

.hour-schedules {
	position: relative;
	font-size: 14px;
	color: #9696a3;
	left: 32px;
	margin: 0 auto;
}

.flight-time {
	position: relative;
	top: 36px;
}

.error-type {
	position: absolute;
	left: calc(50% - 200px);
	top: calc(50% - 100px);
	color: #3399ff;
	font-size: 200px;
	font-weight: 700;
}

.admin-menu {
	position: absolute;
	overflow: hidden;
	width: 1000px;
	top: 70px;
}

.admin-menu .menu-item {
	margin: 5px 0 5px 5px;
}

.editor {
	margin: 0 0 10px 0;
	padding: 4px;
}

.editor input[type="text"], select {
	margin: 0 auto;
	padding: 0 0 0 8px;
	height: 34px;
	display: block;
}

.editor input[type="button"] {
	margin: 20px 0 0 9px;
}

.table-list {
	position: absolute;
	top: 194px;
	left: 30px;
}

.table-ceil, .table-ceil-small, .table-ceil-mid {
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	width: 120px;
	line-height: 32px;
	height: 27px;
	font-size: 11px;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}

.table-line, .table-header {
	cursor: pointer;
	width: auto;
	overflow: hidden;
	height: 28px;
}

.table-header {
	position: absolute;
	left: 30px;
	top: 165px;
}

.table-header div {
	margin-left: -3px;
	font-weight: 700;
}

.table-ceil-small {
	width: 22px;
}

.table-ceil-mid {
	width: 60px;
}

.table-ceil-mid img {
	margin: 3px 0 0 0;
}

.table-ceil:hover, .table-ceil-mid:hover, .table-ceil-small:hover {
	background-color: #3399ff;
	color: #f4f4f4;
}

.table-end {
	height: 70px;
	positon: absolute;
	bottom: 70px;
}

.console {
	font-size: 12px;
	position: absolute;
	width: 300px;
	margin-left: 360px;
	top: 170px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: 0.96;
	border-radius: 4px;
}

.admin-form {
	z-index: 999;
	position: absolute;
	width: 520px;
	top: 40px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: 0.96;
	border-radius: 4px;
}

h2 {
	position: absolute;
	top: 120px;
}

.admin-form input[type="text"], .admin-form select {
	position: relative;
	width: 510px;
	margin: 4px 0 10px -10px;
	left: 10px;
	height: 38px;
	padding: 0 0 0 8px;
}

.admin-form select {
	width: 520px;
	margin: 4px 0 10px -10px;
	padding: 0 0 0 5px;
}

.admin-form>label {
	margin: 4px 0 10px 0;
}

.admin-form h3 {
	margin: -13px 0 7px 0;
}

.crud-buttons {
	margin: -14px 0 0 187px;
}

.crud-buttons-user {
	margin: -14px 0 0 411px;
}

.editor h2 {
	font-weight: 700;
	margin: 12px;
}

#update-form-password {
	margin-top: 77px;
}

.ticket-option-list {
	position: absolute;
	left: 295px;
	margin-top: 182px;
	width: 442px;
	text-align: right;
}

.option-small {
	height: 36px;
	width: auto;
}

.poster-container {
	z-index: -1;
	position: absolute;
	top: 38px;
	width: 100%;
	height: 358px;
	background: url(../images/main_banner.jpg);
	background-position: 50% 50%;
}

#departure-cities {
	background: transparent;
	color: #667;
	margin: 0 0 0 250px;
	border: 0 solid;
}

#schedule-route-buttons {
	position: absolute;
	top: 125px;
	left: 415px;
}

.form-field em {
	position: absolute;
	right: calc(50% - 329px);
	text-align: right;
	margin-top: -27px;
	font-size: 12px;
	color: red;
}

.settings-tab .form-field em {
	right: 7px;
}

.signup .form-field label {
	position: relative;
	top: 4px;
}

.signup .form-field {
	margin: 8px 0 0 0;
}

.signup .form-field em {
	margin: -39px 24px 0 0;
}

.register .form-field em {
	margin-right: 24px;
}

.signup .form-field input {
	margin: 5px 0 12px 0;
}

.signup .core-btn-primary {
	margin-top: 32px;
}

.event,.schedule {
	margin: 0 5px 5px 5px;
	display:inline-block;
	position:relative;
	top:100px;
	display:inline-block;
	width: 300px;
	height: 300px;
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
	border-radius:4px;
}

.admin-form em {
	position: absolute;
	right: 29px;
	text-align: right;
	margin-top: -36px;
	font-size: 12px;
	color: red;
}

.form-field .star, .admin-form .star {
	position: relative;
	left: 0;
	top: -4px;
}

.no-js {
	
}

@media screen and (max-width: 800px) {
	body, .poster-container, .header, .footer, .menu-dropdown, .cart-tab {
		width: 800px;
	}
	.mynyair-menu-dropdown {
		position: absolute;
		margin: 0 auto;
		right: 0;
	}
	.settings-tab, .mynyair-tab {
		width: 800px;
	}
	.language-menu-arrow, .mynyair-menu-arrow {
		display: none;
	}
}